header.header {
    background-color: palette(white);
}



.header-content {
    display: block;        

    @include breakpoint(medium) {
        width: map-get($breakpoint,medium);
        margin: auto;
    };
}



.burger-row {
    margin-left: 0;

    .fa-bars {
        .sidebar-visible & {
            display: none;
        }
    }

    .fa-times {
        display: none;
        .sidebar-visible & {
            display: block;
        }
    }
}



.header-divider {
    display: block;
    padding-bottom: 15px;
    border-bottom: 3px solid palette(blue);
    clear: both;
}