body {
    background-color: palette(blue,x-light);
}



#container {
    display: block;
    margin: auto;
    overflow-x: hidden;

    @include breakpoint(medium) {
        width: map-get($breakpoint,medium);
    }
}



ol.breadcrumb {
    height: auto;
    text-align: right;
    padding: 0;
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;

    a:active, a:link,
    a:visited {
        color: inherit;
    }
}



#main-content {
    margin-left: 0;
    background-color: palette(white);
    max-width: none;
    position: relative;
    z-index: 5;
    left: 0;
    transition: left .3s ease;
    min-height: 100vh;
    

    @include breakpoint(medium) {
        width: 782px;
        float: right;
    }

    .sidebar-visible & {
        left: 210px;
        
        @include breakpoint(medium) {
            left: 0;
        }
    }
}