// ------------------------------
//  HELPER PLACEHOLDERS
// ------------------------------

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


// ------------------------------
//  HELPER CLASSES
// ------------------------------

.flex-center {
    @extend %flex-center;

    .flex-content {

    }   
}

.font-title {
    font-family: 'Raleway',sans-serif;
}

.bg-silver {
    background-color: palette(gray);
}

.text- {
    
    &left {
        text-align: left !important;
    }
}