#homepage_carousel.slider-section-1 {
    
    .main-text {
        font-weight: bolder;

        small {
            font-weight: normal;
        }
    }

    hr {
        width: 200px;
        border-bottom: 3px solid palette(green);
        margin: 0 auto 25px auto;
    }
}