.nav-wrp {

    .container {
        width: 100%;

        @include breakpoint(large) {
            width: 1200px;
        }
    }

}

.nav.vm-item {
    height: 100%;

    .nav-links {
        padding: 0;
        height: 100%;

        li {
            padding: 0;
            height: 100%; 
            @extend %flex-center;           
        }

        li a {
            text-transform: uppercase;
            padding: 0 15px;
            font-weight: bold;
            height: 100%;
            border-top: 3px solid transparent;
            transition: border .3s ease;
            @extend %flex-center;

            &.active,
            &:hover {
                border-top: 3px solid palette(green);
                color: palette(green,dark);
            }
        }

        li a#request_quote {
            color: white;
            
            &:hover {
                color: white;
                border: 1px solid palette(green,dark);
            }
        }
    }

    .nav-other > span {
        color: palette(green);
        margin-left: 15px;

        &:hover {
            color: palette(green,dark);
        }

        a {
            font-size: 14px;
        }
        
        .fa {
            margin-right: 0;
            font-size: 15px;
        }

    }

}



#request-form {
    
    .form-group {
        padding-top: 10px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    label {
        padding-top: 10px;
        padding-bottom: 5px;
        font-weight: bolder;
    }

    input[type="text"] {
        padding: 15px;
    }

    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
       font-style: italic;
    }

    .radio-group {
        // padding: 25px 70px 25px 45px;
        margin-top: 13px;
    }

    .radio-group-border {
        border-radius: 3px;
        border: 1px solid palette(gray);
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .radio-group-label {
        margin: 5px 0;
        padding: 5px 0;
        border-right: 1px solid palette(gray);
        display: block;
    }

        .radio-label {
            input[type="radio"] {
                margin-right: 5px;
            }
        }

    .textbox-group {

        textarea {
            padding: 10px 15px;
        }
    }

    .modal-form-actions {
        text-align: center;
        padding: 20px 0;
        letter-spacing: 1em;

        * {
            letter-spacing: normal;
        }
    }

}